torch>=2.5.1
torchvision>=0.20.1
opencv-python>=4.10.0
Pillow>=10.4.0
albumentations>=1.4.21
numpy>=2.0.2
scipy>=1.13.1
scikit-learn>=1.5.2
matplotlib>=3.9.2
seaborn>=0.13.2
tensorboard>=2.18.0
tqdm>=4.67.0
PyYAML>=6.0
wandb>=0.18.7
pytest>=8.3.4
coverage>=7.6.8
