numpy>=1.24.4
pillow>=10.1.0
pyyaml>=6.0
tqdm>=4.67.0

opencv-python>=4.10.0
scikit-learn>=1.5.2
albumentations>=1.4.21

torch>=2.2.0
torchvision>=0.17.0
tensorboard>=2.18.0
wandb>=0.18.7

aiohttp>=3.9.1
asyncio>=3.4.3
python-dotenv>=1.0.0
requests>=2.31.0
python-unsplash>=1.1.0
photoshop-python-api>=0.21.1

schedule>=1.2.0

pytest>=8.3.4
pytest-asyncio>=0.23.2
coverage>=7.6.8

matplotlib>=3.9.2
seaborn>=0.13.2
